:root {
  --header-main-background: #2c3e50;

  --table-header-background: #1abc9c;
  --table-hover-background: rgba(26, 188, 156, 0.1);
  --table-selected-row-background: rgba(26, 188, 156, 0.3);

  --button-primary-background: #1abc9c;
  --button-hover-primary-background: #34495e;
  --button-secundary-background: #057760;
  --button-hover-secundary-background: #0b5546;

  --label-form-color: #16a085; 
}

* {
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #8e9eab;
  color: #fff;
}

li {
  list-style-type: none;
}

.btn-cancel:hover {
    background: #808e8f;
}

.btn-cancel {
    background: #a3a9ac;
    color: #fff;
}



/* --- Slider personalizado --- */
.slider {
  -webkit-appearance: none; /* quita estilos por defecto */
  width: 100%;
  height: 8px;
  border-radius: 6px;
  background: linear-gradient(to right, #ef4444, #facc15, #10b981); /* rojo → amarillo → verde */
  outline: none;
  cursor: pointer;
  margin-top: 6px;
}

/* Bolita (Chrome / Safari) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  border: 2px solid #208862;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-top: -5px; /* centra la bolita en la barra */
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

/* Bolita (Firefox) */
.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  border: 2px solid #208862;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.slider::-moz-range-thumb:hover {
  transform: scale(1.2);
}